In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

In [41]:
df=pd.read_csv("/content/Mall_Customers.csv")

In [5]:
df.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Genre                   200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

In [7]:
sc=StandardScaler()

In [42]:
a=df.drop('CustomerID',axis=1,inplace=True)
a

In [20]:
a=df.drop('Genre',axis=1)
a

     Age  Annual Income (k$)  Spending Score (1-100)
0     19                  15                      39
1     21                  15                      81
2     20                  16                       6
3     23                  16                      77
4     31                  17                      40
..   ...                 ...                     ...
195   35                 120                      79
196   45                 126                      28
197   32                 126                      74
198   32                 137                      18
199   30                 137                      83

[200 rows x 3 columns]

In [21]:
sc.fit(a)

StandardScaler()

In [22]:
x=a

In [24]:
y=df['Genre']

In [25]:
y

0        Male
1        Male
2      Female
3      Female
4      Female
        ...
195    Female
196    Female
197      Male
198      Male
199      Male
Name: Genre, Length: 200, dtype: object

In [26]:
x

     Age  Annual Income (k$)  Spending Score (1-100)
0     19                  15                      39
1     21                  15                      81
2     20                  16                       6
3     23                  16                      77
4     31                  17                      40
..   ...                 ...                     ...
195   35                 120                      79
196   45                 126                      28
197   32                 126                      74
198   32                 137                      18
199   30                 137                      83

[200 rows x 3 columns]

In [27]:
x.shape

(200, 3)

In [28]:
y.shape

(200,)

In [29]:
from sklearn.model_selection import train_test_split
xtrain,ytrain,xtest,ytest=train_test_split(x,y,test_size=0.3,random_state=50)

In [30]:
xtrain

     Age  Annual Income (k$)  Spending Score (1-100)
114   18                  65                      48
187   28                 101                      68
76    45                  54                      53
122   40                  69                      58
142   28                  76                      40
..   ...                 ...                     ...
132   25                  72                      34
33    18                  33                      92
109   66                  63                      48
139   35                  74                      72
176   58                  88                      15

[140 rows x 3 columns]

In [31]:
ytrain

     Age  Annual Income (k$)  Spending Score (1-100)
112   38                  64                      42
165   36                  85                      75
12    58                  20                      15
73    60                  50                      56
144   25                  77                      12
20    35                  24                      35
199   30                 137                      83
8     64                  19                       3
39    20                  37                      75
88    34                  58                      60
81    38                  54                      55
197   32                 126                      74
69    32                  48                      47
160   56                  79                      35
25    29                  28                      82
99    20                  61                      49
151   39                  78                      88
23    31                  25                      73
138   19                  74                      10
159   30                  78                      73
89    50                  58                      46
82    67                  54                      41
24    54                  28                      14
174   52                  88                      13
137   32                  73                      73
83    46                  54                      44
107   54                  63                      46
34    49                  33                      14
97    27                  60                      50
167   33                  86                      95
123   39                  69                      91
157   30                  78                      78
75    26                  54                      54
152   44                  78                      20
117   49                  65                      59
149   34                  78                      90
63    54                  47                      59
54    50                  43                      45
125   31                  70                      77
80    57                  54                      51
170   40                  87                      13
183   29                  98                      88
38    36                  37                      26
153   38                  78                      76
40    65                  38                      35
190   34                 103                      23
177   27                  88                      69
131   39                  71                      75
13    24                  20                      77
121   38                  67                      40
1     21                  15                      81
116   63                  65                      43
100   23                  62                      41
166   42                  86                      20
168   36                  87                      27
48    29                  40                      42
178   59                  93                      14
108   68                  63                      43
61    19                  46                      55
16    35                  21                      35

In [32]:
from sklearn.neighbors import KNeighborsClassifier

In [33]:
k=KNeighborsClassifier(n_neighbors=3)

In [34]:
k.fit(xtrain,ytrain)

ValueError: ignored

In [35]:
from sklearn.metrics import classification_report,confusion_matrix

In [39]:
x_pred=k.predict(x_test)

NameError: ignored

In [36]:
print("confusion matrix is:",confusion_matrix(ytest,x_pred))
print("classificatin report is:",classification_report(ytest,x_pred))

NameError: ignored

In [37]:
error_rate=[]
for i in range(1,40):
  k=KNeighborsClassifier(n_neighbors=i)
  k.fit(xtrain,ytrain)
  p-i=k.predict(xtest)
  error_rate.append(np.mean(p-i != ytest))

SyntaxError: ignored